In [9]:
import pandas as pd
import seaborn as sb

from sklearn.linear_model import LogisticRegression

In [13]:
df = pd.read_csv('loan_test.csv', sep=';')
df = df[df.columns.difference(['status'])]

df_train = pd.read_csv('loan_train.csv', sep=';')
train_status = df_train['status']
train_data = df_train[df_train.columns.difference(['status'])]

In [14]:
df.head()

   account_id  amount    date  duration  loan_id  payments
0        4473   93960  970103        60     5895      1566
1       10365  260640  970104        36     7122      7240
2        5724  232560  970108        48     6173      4845
3        5591  221880  970121        60     6142      3698
4        2018   38520  970121        12     5358      3210

In [15]:
logreg = LogisticRegression(solver='liblinear', max_iter=1000, class_weight='balanced', C=0.25)
logreg.fit(train_data, train_status)

predictions = logreg.predict(df)

print(predictions)

[ 1  1  1  1  1  1  1 -1  1  1  1 -1 -1  1 -1 -1 -1  1 -1  1  1  1  1  1
  1  1  1  1 -1  1  1  1  1  1  1  1  1 -1  1  1  1  1 -1  1 -1  1 -1  1
  1  1 -1  1 -1 -1  1  1  1 -1  1  1 -1 -1  1  1  1  1  1  1 -1  1  1  1
  1  1  1  1 -1  1 -1  1 -1 -1  1  1 -1  1  1  1  1  1  1  1  1  1 -1 -1
 -1 -1  1 -1 -1  1  1  1  1 -1  1  1 -1  1  1  1  1  1  1 -1  1  1  1 -1
  1  1 -1 -1 -1 -1 -1  1  1  1 -1 -1  1 -1  1 -1  1 -1 -1 -1  1  1  1 -1
  1  1  1 -1  1  1 -1  1  1  1 -1  1  1  1  1  1 -1 -1  1 -1  1  1 -1  1
 -1 -1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1 -1 -1 -1
  1  1  1  1  1  1  1  1 -1  1  1 -1  1  1 -1  1  1 -1  1  1 -1 -1  1  1
  1  1  1  1  1  1  1 -1 -1 -1 -1  1  1  1  1  1  1  1  1  1  1 -1  1  1
  1  1 -1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1
 -1  1  1  1 -1 -1 -1  1  1  1  1  1 -1 -1  1 -1  1  1  1  1  1  1  1  1
  1 -1  1  1  1  1  1 -1  1  1  1  1 -1 -1 -1  1  1 -1  1 -1  1  1  1 -1
 -1 -1 -1  1  1 -1 -1  1  1  1 -1  1  1 -1  1 -1  1  1  1  1  1 -1  1 -1
 -1 -1  1  1  1  1  1  1  1 -1  1 -1 -1 -1 -1  1  1  1]

In [24]:
df_final = df['account_id']
df_final = pd.DataFrame({"Id" : df['loan_id'], "Predicted" : predictions})

df_final.to_csv('test.csv', index=False)
print(type(predictions))

<class 'numpy.ndarray'>